

.geologica-bold,
.geomanist-regular {
    color: rgb(255, 255, 255);
    margin: 0;
}

.geologica-bold{
    font-size: 1.6rem;
    font-weight: 700;
}

.geomanist-regular {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.infos__map {
    width: 80%;
    /* ajuste le pourcentage selon tes besoins */
    max-width: 600px;
    /* largeur maximale */
    margin: 2 auto;
    /* centre la map */
    display: block;
}

.infos__map img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.partners__item{
    flex: 1 1 150px;
    max-width : 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}


.partners__item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Fond général */
.page-scene {
    background-color: #0ba138;
    color: #ffffff;
    font-family: "Montserrat", system-ui, sans-serif;
}

/* Bloc central */
.section--scene-detail {
    max-width: 480px;
    margin: 0 auto 3rem;
    padding: 0;
}

/* Bande verte + titre SCENES */
.section__header {
    background-color: #0ba138;
    text-align: center;
    padding: 0.8rem 0;
}

.section__title {
    margin: 0;
    font-family: "Fredoka", system-ui, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* Image de scène */
.scene-hero {
    position: relative;
    margin: 0;
}

.scene-hero__img {
    width: 100%;
    display: block;
    max-height: 360px;
    object-fit: cover;
}

/* Texte Echo Roots en bas de l’image */
.scene-hero::after {
    content: "Echo Roots";
    position: absolute;
    left: 0.7rem;
    bottom: 0.8rem;
    font-family: "Fredoka", system-ui, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Bande verte + titre Artistes */
.scene-detail__subtitle {
    margin: 0;
    padding: 0.8rem 0;
    background-color: #0ba138;
    text-align: center;
    font-family: "Fredoka", system-ui, sans-serif;
    font-size: 1.8rem;
}

img {
    max-width: 100%;
    height: auto;
}