

.geologica-bold,
.geomanist-regular {
    color: rgb(255, 255, 255);
    margin: 0;
}

.geologica-bold{
    font-size: 1.6rem;
    font-weight: 700;
}

.geomanist-regular {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.infos__map {
    width: 80%;
    /* ajuste le pourcentage selon tes besoins */
    max-width: 600px;
    /* largeur maximale */
    margin: 2 auto;
    /* centre la map */
    display: block;
}

.infos__map img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.partners__item{
    flex: 1 1 150px;
    max-width : 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}


.partners__item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}