:root {
    /* couleurs */
    --fond: #00a02d;
    --rouge: #e30000;;
    --vert-foncé: #006711;
    --blanc: #ffffff;
    --gris-foncé: #333333;
    --gris-clair: #777777;
    --gris: #808080;
    --sombre : #262626;
    --noir : #000000;
    
    /* polices */
    --police-principale: 'Arial', sans-serif;

    /* tailles */
    --text-xs: 0.63rem;
    /* 10px */
    --text-sm: 0.75rem;
    /* 12px */
    --text-base: 1rem;
    /* 16px */
    --text-lg: 1.25rem;
    /* 20px */
    --text-xl: 1.5rem;
    /* 24px */
    --text-2xl: 2rem;
    /* 32px */
    --text-3xl: 2.5rem;
    /* 40px */
}

