header.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: #00751f;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* pour que le contenu ne passe pas sous le header */
main {
    padding-top: 64px;
    /* à ajuster à la hauteur réelle du header */
}

/* logo centré */
.header__logo {
    height: 50px;
    display: block;
}

.header__menu-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    right: 1rem;
}

.menu-btn__bar {
    width: 32px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 999px;
    display: block;
}