/* HEADER GLOBAL */
header.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--vert-foncé);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/* pour que le contenu ne passe pas sous le header */
main {
    padding-top: 64px;
    /* ajuste si la hauteur change */
}

/* LOGO */
.header__logo {
    height: 50px;
    display: block;
}

/* BOUTON HAMBURGER */
.header__menu-btn {
    padding: 0;
    border: none;
    background: transparent;
    z-index : 2001;
}

.menu-btn {
    position: relative;
    width: 40px;
    height: 28px;
    cursor: pointer;
}

/* 3 barres, position absolue pour l'anim croix */
.menu-btn__bar {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3px;
    background-color: var(--blanc);
    border-radius: 999px;
    transition: transform 0.25s ease, opacity 0.2s ease;
}

.menu-btn__bar:nth-child(1) {
    top: 10.5px;
    transform: translateY(-11px);
}

.menu-btn__bar:nth-child(2) {
    top: 10.5px;
    transform: translateY(0);
}

.menu-btn__bar:nth-child(3) {
    top: 10.5px;
    transform: translateY(11px);
}

/* ÉTAT OUVERT : croix */
.menu-btn--open .menu-btn__bar:nth-child(1) {
    top: 10.5px;
    transform: rotate(45deg);
}

.menu-btn--open .menu-btn__bar:nth-child(2) {
    opacity: 0;
}

.menu-btn--open .menu-btn__bar:nth-child(3) {
    bottom: auto;
    top: 10.5px;
    transform: rotate(-45deg);
}

#mainNav ul,
#mainNav li {
    list-style: none !important;
    margin: 0;
    padding: 0;
}