@import "layout/header.css";
@import "layout/footer.css";
@import "../components/hero.css";
@import "base/main.css";
@import "base/media.css";
@import "../components/bouton.css";
@import "../css/utils/variables.css";
@import "../css/base/barres.css";
@import "../components/cardsartistes.css";
@import "../components/cardsaccueil.css";
@import "../components/cardsscenes.css";

html,
body {
    margin: 0;
    padding: 0;
}